@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.work {
  background-color: white;
  font-size: 100px;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}
    
.work h1{
  font-size: 3rem;
  color: black;
  display: flex;
  justify-content: center;
}
.work h2{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    
}
.work p{
  font-size: 1rem;
  color: rgb(255, 255, 255);
  
}
  
.work .cards {
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
  }
      
.cards .card {
    background: #faf4d3;
    border: 3px solid #333;
    padding: 20px 20px;
    margin-bottom: 15px;
    list-style-type: none;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }    

.cards .card a {
    text-decoration: none;
}

@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    width: 100%;
  }
  .projectItem {
    width: 300px;
    height: 300px;
  }
}
