<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <footer class="footer-content">

        <div class="footer-left">
            <h3>WebWork<span>Wave</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
            </p>

            <p class="footer-app-name">Copyright © 2021 <strong>WebWorkWave</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa-solid fa-location-dot"></i>
                <p><span>PHINMA University of Pangasinan</span>
                    CITE Department</p>
            </div>

            <div>
                <i class="fa-solid fa-phone"></i>
                <p>+63 97*9**2*85</p>
            </div>
            <div>
                <i class="fa-solid fa-envelope"></i>
                <p><a href="#">student@phinmaed.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-app-about">
                <span>About the company :</span>
                <strong>WebWorkWave</strong> is a student job hiring website
                        that connects students with employers who
                        are looking to hire 
                        part-time or full-time student workers
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>