<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Navbar</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="#home" id="logo"><span> | </span>WebWork<span>Wave</span></a>
      <input type="checkbox" id="menu-bar" />
      <label for="menu-bar">
        <i class="fa-solid fa-bars"></i>
      </label>
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Job Lists</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#" class="btn">Log in</a></li>
      </ul>
    </nav>
  </body>
</html>
